.setting-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  .item-label {
    display: inline-block;
    color: #f6f6f6;
    font-size: .8rem;
    width: 120px;
    min-width: 120px;
    text-align: right;
  }
  .item-content {
    margin-left: 8px;
    display: flex;
    align-items: center;
  }
}