.page-setting {
  position: relative;
  .save-progress {
    position: absolute;
    bottom: 12px;
    color: #f6f6f6;
    .save-prompt {
      font-size: 12px;
      overflow: hidden;
      height: 12px;
    }
    .save-slider {
      height: 4px;
      margin: 4px 0;
    }
  }

  .setting-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    max-width: 100%;
    transition: all .3s ease-in-out;
    .item-label {
      display: inline-block;
      color: #f6f6f6;
      font-size: .8rem;
      width: 120px;
      min-width: 120px;
      text-align: right;
    }
    .item-content {
      padding-left: 16px;
      display: flex;
      align-items: center;
      max-width: calc(100% - 120px);
      overflow-x: hidden;
      cursor: pointer;
    }
  }

  #lang-change-select {
    background-color: #5d5d5d;
    border: none;
    color: #f6f6f6;
    padding: 2px 4px;
    &:focus {
      border: none;
      outline: none;
    }
  }
}

