.component-footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.item {
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  &:hover {
    color: rgb(208, 208, 208);
  }
  .item-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}