.page-playlist {
  .loading {
    height: 80%;
  }
  .playlist-item {
    padding: 4px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #bebebe;
    user-select: none;
    &:hover {
      color: #f6f6f6 !important;
      .remove,.insert-to-top {
        visibility: visible;
      }
    }
    .index {
      padding: 0 8px 0 0;
      width: 40px;
      text-align: center;
    }
    .info {
      flex-grow: 1;
    }
    .insert-to-top {
      display: flex;
      align-items: center;
      margin-left: 8px;
      visibility: hidden;
    }
    .remove {
      display: flex;
      align-items: center;
      margin-left: 8px;
      visibility: hidden;
    }
  }
}

