.bottom-operate {
  position: fixed;
  bottom: 8px;
  left: 24px;
  width: 84%;
  height: 32px;
  border-radius: 3px;
  background-color: rgba(51, 51, 51, 0.9);
  display: flex;
  align-items: center;
  .operate-item {
    width: fit-content;
    height: 32px;
    padding: 0 4px 1px 4px;
    display: flex;
    align-items: center;
    color: #efefef;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &.play-all {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
    .match {
      color: #71b15f;
    }
    &:hover {
      background-color: #55ba4e;
      svg {
        color: #f6f6f6;
      }
    }
  }
}
.page-audios {
  .loading {
    height: 80%;
  }

}

