.page-lyric {
  color: #b5b5b5;
  text-align: center;
  .lyric-panel {
    position: relative;
    transition: all .3s cubic-bezier(.69,.14,.14,.92);
    .spacer {
      height: 148px;
    }
  }

  .lyric-item {
    margin: 8px 0;
    font-size: 13px;
    line-height: 20px;
    transition: all .3s cubic-bezier(.69,.14,.14,.92);
  }
}

