@width: 300px;
@footer-height: 40px;
@title-bar-height: 28px;

.my-app {
  width: 300px;
  background-color: #333;
}

.app-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: @width;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
  z-index: 0;
  filter: blur(5px);
}

.title-bar {
  width: @width;
  height: @title-bar-height;
  position: relative;
  color: #d0d0d0;
  z-index: 2;
  .bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 8px;
    visibility: visible;
    color: #616161;
    &:hover {
      color: #71b15f;
    }
  }
}

.main {
  position: relative;
  background-color: transparent;
  width: @width;
  height: calc(100vh - @footer-height - @title-bar-height);
  .page {
    height: 100%;
    width: calc(100% - 16px);
    padding: 0 8px;
  }
  z-index: 1;
}

.footer {
  position: relative;
  z-index: 1;
  background-color: transparent;
  height: @footer-height;
  color: #f6f6f6 !important;
}