.component-handler {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.handler-item {
  height: 100%;
  &:hover {
    color: #b7b7b7;
    cursor: pointer;
  }
  .handler-icon {
    height: 100%;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}